* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    /*to make rem 10px*/
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 40rem;
    line-height: 1.7;
    margin: 10rem;
    background-color: rgb(56, 56, 47);
}

.main {
    background-color: yellow;
    height: 75vh;
}

.wrapper {
    margin: 0 auto;
    background-color: teal;
    width: 50%;
    height: inherit;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.quotes-container {
    width: 70%;
    height: 50%;
    background-color: lawngreen;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 6rem;
}

h2 {
    text-align: center;
    font-size: 3rem;
}

.button-quotes {
    background-color: lightpink;
    height: 5rem;
    width: 8rem;
    margin-left: auto;
    margin-right: auto;
    margin: 4rem;
    border-radius: 2rem;
}



@media only screen and (max-width: 1200px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1rem;
    }

    .wrapper {
        width: 90%;
    }

    .quotes-container {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1rem;
    }

    .wrapper {
        width: 90%;
    }

    .quotes-container {
        width: 100%;
    }
}